<!--CONTENEDOR PRINCIPAL-->
<div class="contenedor">
  <!--ENCABEZADO INICIO-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img
        class="Image5"
        src="https://http2.mlstatic.com/storage/mshops-appearance-api/images/42/576731042/logo-2020053014350445100.png"
        alt=""
        width="100"
        height="94"
      />
      <!--  <a class="navbar-brand" href="#">LOGO</a>-->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="titulo">
        <p>HOMEZILA SS</p>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto my-5 text-right">
          <h3 class="my-5 text-center text-primary">USUARIO</h3>
        </div>
      </div>
    </div>
  </nav>
  <!--FIN ENCABEZADO INICIO-->

  <!--CONTENEDOR INFORMACION CENTRO PAGINA-->
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row text-center">
        <!--entradas -->

        <div class="bloquemenu col-lg-2">
          <h2>MENU</h2>
          <hr />

          <div class="contenido_menu d-grid gap-2 col-auto mx-auto">
            <button type="button" class="btn btn-outline-primary">
              INICIO
            </button>
            <button type="button" class="btn btn-outline-primary">
              CATALOGO
            </button>
            <button type="button" class="btn btn-outline-primary">
              TRANSPORTE
            </button>
            <button type="button" class="btn btn-outline-primary">
              COMPRAS
            </button>
          </div>

          <hr />
        </div>
        <!--entradas-->
        <!--iside -->
        <div class="inventario container-fluid col-lg-10 text-center">
          <img
            class="Image8"
            src="http://3.bp.blogspot.com/-MTAIOBKoDSQ/UBIEAgT3kpI/AAAAAAAAABI/iyTKDyNFecA/s1600/3296-alarmas+(22).jpg"
            width="390"
            height="284"
          />
          <img
            class="calendario"
            src="https://www.calendario-ok.com/jpg/octubre-2021-fecha-en-grande-para-ciegos.jpg"
            width="300"
            height="204"
          />
          <h1 class="controlinventario">CONTROL DE INVENTARIO</h1>
          <div class="container1">
            <img
              class="Image5"
              src="https://png.pngtree.com/png-vector/20190110/ourlarge/pngtree-vector-download-icon-png-image_312732.jpg"
              alt=""
              width="90"
              height="84"
            />
            <img
              class="Image5"
              src="https://img2.freepng.es/20180326/vtw/kisspng-microsoft-excel-export-import-computer-icons-datab-excel-5ab8770f74bb35.2527144315220385434782.jpg"
              alt=""
              width="90"
              height="84"
            />
            <img
              class="Image5"
              src="https://cdn-icons-png.flaticon.com/512/46/46046.png"
              alt="120"
              width="110"
              height="104"
            />
            <div class="mensaje">
              <img
                class="Image6"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_0b9Kock8iM3ucLGDpVJHQY_ngu4Qm_xpeKHt348otfIWyuxEPKPA26FPEj00_1LN-KI&usqp=CAU"
                alt=""
                width="70"
                height="64"
              />
            </div>
            <br />
            <div
              class="botones_centro d-flex"
              role="group"
              aria-label="Basic outlined example"
            >
              <button type="button" class="btn11 btn-outline-primary">
                DESCARGAR
              </button>
              <button type="button" class="btn11 btn-outline-primary">
                IMPORTAR/EXPORTAR
              </button>
              <button type="button" class="btn11 btn-outline-primary">
                MOVIMIENTOS
              </button>
            </div>
          </div>
        </div>
        <!--iside -->
      </div>
    </div>
  </div>
  <!--FIN CONTENEDOR INFORMACION CENTRO PAGINA-->

  <!-- CONTENEDOR INFORMACION EDICION DE TABLA-->

  <nav class="navbar text-left">
    <div
      class="btn-group card-body d-flex justify-content-between col-6"
      role="group"
      aria-label="Basic outlined example"
    >
      <button type="button" class="btn btn-outline-primary">AGREGAR</button>
      <button type="button" class="btn btn-outline-primary">EDITAR</button>
      <button type="button" class="btn btn-outline-primary">ELIMINAR</button>
      <button type="button" class="btn btn-outline-primary">ORDENAR</button>
      <button type="button" class="btn btn-outline-primary">FILTRAR</button>
    </div>

    <form class="search d-flex">
      <input
        class="form-control me-2 text-right"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>

  <!-- FIN CONTENEDOR INFORMACION EDICION DE TABLA-->
  <!--TABLAS-->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">IMAGEN</th>
        <th scope="col">CODIGO</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">STOCK</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <img
            class="Image5"
            src="https://gvscolombia.net/Galeria/Adjuntos/8b0869fef6464acdaacb432e37b9b208.png"
            alt=""
            width="30"
            height="24"
          />
        </td>
        <td>DH-HAC-T1A21N-0280B</td>
        <td>
          CAMARA 4 EN 1 1/2,7" CMOS 1080P TIPO DOMO PLASTICO LENTE 2,8MM FOV
          103° DWDR IR 20M
        </td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          <img
            class="Image5"
            src="https://gvscolombia.net/Galeria/Adjuntos/fa2b6a75efca4748801aecfc5e115bdd.png"
            alt=""
            width="30"
            height="24"
          />
        </td>
        <td>DH-HAC-HDW1200RN-0360B</td>
        <td>
          CAMARA 4 EN 1 1/2,7" CMOS 1080P TIPO DOMO PLASTICO LENTE 3,6MM FOV
          87,5° DWDR IR 20M
        </td>
        <td class="color">0</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
          <img
            class="Image5"
            src="https://gvscolombia.net/Galeria/Adjuntos/c5a173e2a70b426f8217636e74875eb3.png"
            alt=""
            width="30"
            height="24"
          />
        </td>
        <td>DH-HAC-HFW1200RN-0280B</td>
        <td>
          CAMARA 4 EN 1 1/2,7" CMOS 1080P TIPO BALA PLASTICA LENTE 2,8MM FOV
          103° DWDR IR 20M IP67
        </td>
        <td>50</td>
      </tr>
    </tbody>
  </table>
  <!--TABLAS-->
  <div class="header">
    <h5>fin</h5>
  </div>

  <!--FIN CONTENEDOR PRINCIPAL-->
</div>
<a href="#" data-toggle="modal" data-target="#modal-avisolegal"
  >Leer Aviso Legal
</a>
<div
  role="»dialog»"
  tabindex="»-1″"
  class="»modal"
  fade»
  id="»modal-avisolegal»"
>
  <div class="»modal-dialog»" role="»document»">
    <div class="»modal-content»">
      <div class="»modal-header»">
        <!– CABECERA –>
        <button
          type="»button»"
          class="»close»"
          data-dismiss="»modal»"
          aria-label="»Close»"
        >
          <span aria-hidden="»true»">×</span>
        </button>
        <h4 class="»text-center" modal-title»>Aviso Legal</h4>
      </div>
      <div class="»modal-body»">
        <!– CUERPO DEL MENSAJE –>
        <p>TEXTO A MOSTRAR</p>
      </div>
      <div class="»modal-footer»">
        <!– PIE –>
        <button
          class="»btn"
          btn-default
          btn
          btn-primary
          btn-lg»
          type="»button»"
          data-dismiss="»modal»"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
