@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.img-logo {
  width: 50px;
}
.navbar_menu li a {
  color: #1e1e27;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3 ease;
}
.navbar_menu li a:hover {
  color: #b5aec4;
}
.logo_continer a {
  font-size: 20px;
  color: #1e1e27;
  font-weight: 700;
}

.logo_continer a span {
  color: #2289ff;
}

.image-product {
  max-width: 7rem;
}

.sumary {
  background-color: #f5f7ff;
}
