
    <header>
      <!-- Start navbar -->
      <nav class="navbar navbar-expand-lg border">
        <!-- StartLogo -->
        <div class="container">
          <div class="logo_continer">
            <a class="navbar-brand" href="Home2.html">
              <img src="https://i.ibb.co/6bzZ8tv/LOGO.jpg"
                alt=""
                class="img-logo"
                loading="lazy"
              />
              Home<span class="text-primary">zila S.S</span></a
            >
          </div>
          <!-- End Logo -->
          <!-- Start boton collapse -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="fas fa-bars"></span>
          </button>
          <!-- finish boton collapse -->
          <!-- Start menu categoria,ofertas,servicios,contacto and buttom login/Sign Up -->
          <div class="collapse navbar-collapse navbar_menu" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item mx-auto my-1">
                <a class="nav-link px-4" aria-current="page" href="#"
                  >Categorias</a
                >
              </li>
              <li class="nav-item mx-auto my-1">
                <a class="nav-link px-4" href="#">Ofertas</a>
              </li>
              <li class="nav-item mx-auto my-1">
                <a class="nav-link px-4" href="#">Servicios</a>
              </li>
              <li class="nav-item mx-auto my-1">
                <a class="nav-link px-4">Contacto</a>
              </li>
            </ul>
            <ul class="nav-item mx-auto my-1 list-unstyled d-flex">
              <li class="nav-item mx-auto my-1">
                <a href="#" class="me-2 btn btn-outline-primary">Login</a>
              </li>
              <li class="nav-item mx-auto my-1">
                <a href="#" class="btn bg-primary rounded text-white"
                  >Sign up</a
                >
              </li>
            </ul>
          </div>
          <!-- End menu menu categoria,ofertas,servicios,contacto and buttom login/Sign Up -->
        </div>
      </nav>
      <!-- End navbar -->
    </header>

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <section>
      <!-- Image & description -->

      <div class="slide text-white">
        <div
          class="
            container
            vh-100
            d-flex
            flex-column
            justify-content-center
            h-100
          "
        >
          <div class="col-8">
            <h1 class="display-1">Seguridad para tu <span>familia</span></h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit possimus ducimus laborum eaque necessitatibus illum,
              saepe repellat vel soluta dolorum libero suscipit numquam? Quae
              natus minus ea beatae aperiam, perspiciatis impedit soluta eaque
              nobis libero rerum repudiandae dolorem explicabo sed.
            </p>
            <a
              href="#"
              class="btn bg-primary rounded rounded-pill px-3 text-white"
              >Nosotros</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- User info -->

    <section class="info_user">
      <div class="container-sm mt-2 promo">
        <div class="row info_user">
          <div class="col text-center border-end pt-4">
            <i class="fas fa-shipping-fast fa-2x pb-3"></i>
            <h5>envío rápido y seguro</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias,
              itaque?
            </p>
          </div>
          <div class="col text-center border-end pt-4">
            <i class="fas fa-shield-alt fa-2x pb-3"></i>
            <h5>Compra Protegida</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias,
              itaque?
            </p>
          </div>
          <div class="col text-center pt-4">
            <i class="far fa-credit-card fa-2x pb-3"></i>
            <h5>Paga con tarjeta o en efectivo</h5>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Distinctio, voluptatem?
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Available products -->
    <section class="container">
      <div class="pb-3">
        <hr />
        <h4>Productos recomendados</h4>
      </div>
      <div class="row float-end">
        <!-- producto 1 -->
        <div class="col-auto d-flex justify-content-center text-center pb-4">
          <div class="card d-flex" style="width: 15rem">
            <img
              src="https://http2.mlstatic.com/D_NQ_NP_2X_619189-MCO42040192714_062020-F.webp"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <div class="info mt-3">
                <h6>Camaras Balas Turbohd 720p</h6>
                <p class="card-text">CAMARA BULLET TurboHD 1080p CON LENTE GRAN ANGULO 2.8mm e IR INTELIGENTE PARA 20mts.</p>
              </div>
              <div class="price mt-3">
                <h4 class="d-inline"><span>$</span></h4>
                117.500
                </div>
            </div>
            <a
              href="#"
              class="btn btn-primary border w-75 rounded-pill mx-auto mb-2"
              >Ver</a
            >
            <a href="#" class="btn btn-primary border w-75 rounded-pill mx-auto"
              >Añadir</a
            >
          </div>
        </div>
        <!-- producto 2 -->
        <div class="col-auto d-flex justify-content-center text-center pb-4">
          <div class="card d-flex" style="width: 15rem">
            <img
              src="https://http2.mlstatic.com/D_NQ_NP_859335-MCO42015259772_052020-O.webp"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <div class="info mt-3">
                <h6>Fuente De Poder Para Control De Acceso</h6>
                <p class="card-text">FUENTE DE PODER PARA CONTROL DE ACCESO, CON ANTIRREMANENTE DE TIEMPO</p>
              </div>
              <div class="price mt-3">
                <h4 class="d-inline"><span>$</span></h4>
                111.650
              </div>
            </div>
            <a
              href="#"
              class="btn btn-primary border w-75 rounded-pill mx-auto mb-2"
              >Ver</a
            >
            <a href="#" class="btn btn-primary border w-75 rounded-pill mx-auto"
              >Añadir</a
            >
          </div>
        </div>

        <!-- producto 3 -->
        <div class="col-auto d-flex justify-content-center text-center pb-4">
          <div class="card d-flex" style="width: 15rem">
            <img
              src="https://i.ibb.co/w4v59RS/ACCESO.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <div class="info mt-3">
                <h6>Control De Acceso Autónomo Para Una Puerta</h6>
                <p class="card-text">CONTROL DE ACCESO AUTÓNOMO PARA UNA PUERTA. PERMITE HASTA 1000 USUARIOS.</p>
              </div>
              <div class="price mt-3">
                <h4 class="d-inline"><span>$</span></h4>
                126.500
              </div>
            </div>
            <a
              href="#"
              class="btn btn-primary border w-75 rounded-pill mx-auto mb-2"
              >Ver</a
            >
            <a href="#" class="btn btn-primary border w-75 rounded-pill mx-auto"
              >Añadir</a
            >
          </div>
        </div>
        <!-- producto 4 -->
        <div class="col-auto d-flex justify-content-center text-center pb-4">
          <div class="card d-flex" style="width: 15rem">
            <img
              src="https://i.ibb.co/k5TD4ft/BOTON.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <div class="info mt-3">
                <h6>BOTON REMOTO</h6>
                <p class="card-text">1 BOTON REMOTO Y 1 RECEPTOR INALAMBRICO CON SALIDA DE 2 RELEVOS. Y CAPACIDAD DE
AGREGAR HASTA 30 CONTROLES REMOTO.</p>
              </div>
              <div class="price mt-3">
                <h4 class="d-inline"><span>$</span></h4>
                99.000
              </div>
            </div>
            <a
              href="#"
              class="btn btn-primary border w-75 rounded-pill mx-auto mb-2"
              >Ver</a
            >
            <a href="#" class="btn btn-primary border w-75 rounded-pill mx-auto"
              >Añadir</a
            >
          </div>
        </div>
        <!-- producto 5 -->
        <div class="col-auto d-flex justify-content-center text-center pb-4">
          <div class="card d-flex" style="width: 15rem">
            <img
              src="https://i.ibb.co/nr6TLFR/TARJETA.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <div class="info mt-3">
                <h6>TARJETA DE PROXIMIDAD</h6>
                <p class="card-text">TARJETA DE PROXIMIDAD DELGADA, FRECUENCIA 125KHZ,
SOLO LECTURA</p><br><br>
              </div>
              <div class="price mt-3">
                <h4 class="d-inline"><span>$</span></h4>
                2.000
              </div>
            </div>
            <a
              href="#"
              class="btn btn-primary border w-75 rounded-pill mx-auto mb-2"
              >Ver</a
            >
            <a href="#" class="btn btn-primary border w-75 rounded-pill mx-auto"
              >Añadir</a
            >
          </div>
        </div>
        <!-- producto 6 -->
        <div class="col-auto d-flex justify-content-center text-center pb-4">
          <div class="card d-flex" style="width: 15rem">
            <img
              src="https://i.ibb.co/8D2s3BC/ELECTRO.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <div class="info mt-3">
                <h6>ELECTROIMAN</h6>
                <p class="card-text">ELECTROIMAN PARA USO INTERIOR Y EXTERIOR IP68. CON ANTIRREMANENTE Y SENSOR MAGNETICO.</p>
              </div>
              <div class="price mt-3">
                <h4 class="d-inline"><span>$</span></h4>
                142.000
              </div>
            </div>
            <a
              href="#"
              class="btn btn-primary border w-75 rounded-pill mx-auto mb-2"
              >Ver</a
            >
            <a href="#" class="btn btn-primary border w-75 rounded-pill mx-auto"
              >Añadir</a
            >
          </div>
        </div>
      </div>
    </section>


  
